Django==1.4
GitPython==0.3.2.RC1
MySQL-python==1.2.3
PIL==1.1.7
South==0.7.4
argparse==1.2.1
async==0.6.1
-e git://github.com/earle/django-bootstrap.git@724354ba8032af1df3d6bbc440d12e840d00ffa1#egg=bootstrap-dev
boto==2.0
certifi==0.0.8
chardet==1.0.1
clint==0.3.1
django-annoying==0.7.6
django-guardian==1.0.4
django-storages==1.1.3
git+https://github.com/bread-and-pepper/django-userena.git
easy-thumbnails==1.0-alpha-21
gitdb==0.5.4
github2==0.6.0
gunicorn==0.12.2
httplib2==0.7.2
octogit==0.1.3
pbs==0.98
py==1.4.6
pyparsing==1.5.6
python-dateutil==1.5
simplejson==2.3.2
smmap==0.8.2
tox==1.3
virtualenv==1.7
wsgiref==0.1.2
